*{
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.himmel {
    background-color: darkblue;
    height: 80vh;
    animation-name: lys-himmel;
    animation-duration: 30s;
    animation-iteration-count: 10;
}
.bund {
    background-color: darkgreen;
    height: 20vh;
    width: 100%;
    position: absolute;
    bottom: 0;
    animation-name: liggesne;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}
.sne {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: -10px;
    left: 50vw;
    animation-name: snefnug;
    animation-duration: 10s;
    animation-iteration-count: 10;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-play-state: running;
    animation-fill-mode: forwards;
}
.sne:nth-of-type(1){
   left: 5vw; 
   animation-delay: 0s;
}
.sne:nth-of-type(2){
    left: 10vw;
    animation-delay: 1s;
}
.sne:nth-of-type(3){
    left: 20vw; 
    animation-delay: 2s;
}
.sne:nth-of-type(4){
    left: 30vw; 
    animation-delay: 3s;
}
.sne:nth-of-type(5){
    left: 35vw; 
    animation-delay: 0s;
 }
 .sne:nth-of-type(6){
     left: 45vw;
     animation-delay: 1s;
 }
 .sne:nth-of-type(7){
     left: 55vw; 
     animation-delay: 2s;
 }
 .sne:nth-of-type(8){
     left: 65vw; 
     animation-delay: 3s;
 }
.tekst {
    font-size: 5vh;
    opacity: 0;
    color: white;
    position: absolute;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    animation-name: juletekst;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.sol {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    left: 60vw;
    animation-name: solopgang;
    animation-duration: 30s;
    animation-iteration-count: 10;
    animation-timing-function: linear;
    animation-direction: reverse;

}
@keyframes snefnug{
    0%{
        top: -10px;
    }
    33% {
        top: 30vh;
    }
    66% {
        top: 60vh;
    }
    100%{
        top: 90vh;
    }
}
@keyframes juletekst{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
}
@keyframes solopgang{
    0%{
        bottom: 0;
        background-color:orangered;
    }
    33%{
        bottom: 70vh;
        background-color:yellow;
    }
    66%{
        bottom: 70vh;
        background-color:yellow;
    }
    100%{
        bottom: 0;
        background-color: orangered;
    }
}
@keyframes lys-himmel{
    0%{
        background-color:darkblue;
    }
    33%{
        background-color: rgb(36, 149, 255);
    }
    66%{
        background-color: rgb(36, 149, 255);
    }
    100%{
        background-color: darkblue;
    }
}
@keyframes liggesne{
    0%{
        background-color: darkgreen
    }
    33%{
        background-color: darkgreen;
    }
    66%{
        background-color: white;
    }
    100%{
        background-color: white;
    }
}